@import 'partials/_variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

header{
     text-align: center;
     .main-menu{
         list-style: none;
         li{
             display: inline-block;
             padding: 10px;
             font-weight: bold;
             a{
                 color: $header_link_color;
                 font-size: 22px;
             }

         }

     }
}

main{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .card{
            width: 300px;
            img{
                width: 300px;
                object-fit: contain;
            }
        }
    }
}
